.fl{
    float: left;
}
.fr{
    float: right;
}
.clear:after{
    visibility:hidden;
    display:block;
    font-size:0;
    content:" ";
    clear:both;
    height:0;
}
.clear{
    zoom:1;
}
.login .message1{
    background: #393d49;
}
.login input[type="submit"].input1{
    background: #393d49;
    width: 100%;
}
.main{
     width: 100%;
}
.main .div1{
    width: 60%;
    margin: 0 20%;
    color: #fff;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 4px;
    position: absolute;
    top: 30px;
}
.main .div2{
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    text-align: center;
    margin: auto;
}
.main .div2>div{
    height: 340px;
    width: 200px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    /* -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none; */
}
.main .div2>div>div{
    width: 80%;
    margin: auto 10%;
    display: inline-block;
    text-align: center;
}
.main .div2>div div div img{
    width: 100%;
}
.main .div2 div div p{
    text-align: center;
    margin: 15px auto auto auto;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}
.main .div2 .div2-1{
    background: -webkit-linear-gradient(#1575ee,#78ebfe);
    background: -ms-linear-gradient(#1575ee,#78ebfe);
    background: -moz-linear-gradient(#1575ee,#78ebfe);
    background: -o-linear-gradient(#1575ee,#78ebfe);
    background: linear-gradient(#1575ee,#78ebfe);
}
.main .div2 .div2-1>div{
    margin-top: 48px;
}
.main .div2 .div2-2{
    background: -webkit-linear-gradient(#fe57c1,#a539ff);
    background: -ms-linear-gradient(#fe57c1,#a539ff);
    background: -moz-linear-gradient(#fe57c1,#a539ff);
    background: -o-linear-gradient(#fe57c1,#a539ff);
    background: linear-gradient(#fe57c1,#a539ff);
}
.main .div2 .div2-2>div{
    margin-top: 56px;
}
.main .div2 .div2-3{
    background: -webkit-linear-gradient(#ffa60a,#efff00);
    background: -ms-linear-gradient(#ffa60a,#efff00);
    background: -moz-linear-gradient(#ffa60a,#efff00);
    background: -o-linear-gradient(#ffa60a,#efff00);
    background: linear-gradient(#ffa60a,#efff00);
}
.main .div2 .div2-3>div{
    margin-top: 75px;
}
.main .div2 .div2-3 div p{
    margin-top: 35px;
}
.border{
    border: 1px solid #e6e6e6;
}
.fieldsetdiv1_1 .layui-col-xs1,
.fieldsetdiv1_1 .layui-col-xs2{
    margin-bottom: 20px;
}
.div3,
.div4{
    /* padding: 0; */
    margin: auto;
    clear: both;
}
.div3>div,
.div4>div{
    border: #e6e6e6 1px solid;
    margin: 0 20px 20px 0;
    padding: 0;
}
.div3>div:nth-of-type(3n),
.div4>div:nth-of-type(3n){
    margin-right: 0;
}
.div3-div1{
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #e6e6e6;
    background: #e6e6e6;
}
.div3-div1 i{
    margin: 0 0 0 20px;
}
.div3-div1>div.fl{
    line-height: 28px;
    width: 300px;
}
.div3-div1>div.fl span.fr{}
.div3-div1 div.fl p.fl{
    /*margin-left: 20px;*/
}
.div3-div5 label,
.div3-div5 .yuanjia,
.div3-div5 .zkj,
.div3-div5 .zk{
    float: left;
    display: block;
    width: 60px;
    font-weight: 400;
    line-height: 20px;
    text-align: right;
}
.div3-div5 label{
    padding: 9px 0;
    width: 50px;
}
.div3-div5 .yuanjia,
.div3-div5 .zkj,
.div3-div5 .zk{
    padding: 9px 0;
}
.div3-div5 .zk{
    width: 30px;
}
.div3-div6 .layui-input-inline{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 3px 0;
    width: 130px;
}
.div3-div6 .layui-input-inline span{
    display: inline-block;
    width: 20px;
    padding: 6px 12px;
    border: 1px solid #D2D2D2;
}
.div3-div6 .layui-input-inline span img{
    height: 14px;
    /*-webkit-user-select:none;*/
    /*-moz-user-select:none;*/
    /*-ms-user-select:none;*/
    /*user-select:none;*/
}
.div3-div6 .layui-input-inline input.fl{
    width: 40px;
}
.div3-div6 .layui-input-inline label{
    padding: 7px 0 0 14px;
}
.div3-div7{}
.div3-div8{}
.div3-div8 label span{
    font-weight: bold;
    font-size: 20px;
    color: rgb(255,48,0);
}
.fieldsetdiv2 .layui-form-item span{
    display: inline-block;
    width: 14px;
    padding: 6px 12px;
    border: 1px solid #D2D2D2;
}
.fieldsetdiv2 .layui-form-item span img{
    width: 14px;
    text-align: center;
    margin: auto;
}
.fieldsetdiv2 .fieldsetdiv2div div{
    text-align: center;
    margin: auto;
}
.fieldsetdiv2 .fieldsetdiv2div2>div{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.fieldsetdiv2 .fieldsetdiv2div2>div div{
    width: 31%;
}

.tab-current-li {
    background-color: #ccc;
}