*{
    margin: 0;
    padding: 0;
    font-family: "Microsoft Yahei";
}
body{
    background-image: url("../img/bg.jpg");
    background-size: 100%;
}
.main{
    width: 100%;
    height: 100%;
    margin: auto;
}
.divone{
    width: 100%;
    margin: auto;
    text-align: center;
}
.divone img{
    margin-top: 10%;
    width: 30%;
}
.divcont{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}
.divcont>div:first-child{
    width: 80%;
    margin: auto;
    text-align: center;
}
.divcont>div:first-child>img{
    text-align: center;
    width: 100%;
    margin: auto;
}
.divcont>div:nth-of-type(2){
    width: 80%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 10%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    z-index: 999;
}
.divcont>div:nth-of-type(2) a{
    width: 25%;
    margin: auto;
    text-align: center;
}
.divcont>div:nth-of-type(2) img{
    width: 35%;
    margin-top: 30%;
}
.title{
    position: absolute;
    top: 0;
    left: 10%;
    width: 80%;
    /*margin: auto;*/
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.title div{
    margin-top: 19%;
}
.title div:first-child img{
    margin-top: 16%;
}
.title div:nth-of-type(2){}
.title div:nth-of-type(3){}
.title div:last-child img{
    margin-top: 16%;
}
.copy {
    position: relative;
    width: 100%;
    margin: auto;
    text-align: center;
}
.copy p {
    color: #fff;
    width: 80%;
    margin: auto;
}
.copy p span {
    height: 21px;
    float: right;
}
.copy p span img {
    height: 100%;
}
.copy .mobile-code {
    display: none;
    position: absolute;
    right: 10%;
    bottom: 0;
    margin-right: 15px;
}
.mobile-code div {
    float: left;
    width: 100px;
    padding: 10px;
}
.mobile-code div span, .copy>div div span img {
    width: 100%;
}
.mobile-code div p {
    font-size: 12px;
    width: 100%;
    text-align: center;
}