<!doctype html>
<html  class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>麒麟运营方管理系统</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/xadmin.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/md5.min.js}"></script>
    <script th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/js/xadmin.js}"></script>
    <script type="text/javascript" th:src="@{/js/cookie.js}"></script>
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
    <script type="text/javascript" th:src="@{/js/urlAdress.js}"></script>
    <style type="text/css">
    #nav li a cite {font-size: 14px!important;}
    .left-nav #nav .sub-menu li a cite {padding-left: 20px;}
    .defined-icon img {width: 13px;}
    .mine-nav-child {color: #000000;}
    .mine-nav-child p {padding: 0 5px;}
    .mine-nav-child p span{margin: 0 5px;}
    </style>
</head>
<body>
<script type="text/javascript">
// var token=localStorage.getItem("ifClick");
$(function(){
   
    initData();
    account();
})
// function account(){
//     $.ajax({
//         type: "GET",
//         headers: {
//             'Authorization':'bearer '+token
// 		},
//         url: urlAdress+"/membership/listCard",
//         data: '',
//         contentType: 'application/json',
//         dataType: "json",
//         // cache:false,
//         success: function(result){
//             $('#indexName').html('<i class="iconfont">&#xe6b8;</i>&nbsp;&nbsp;'+result.datas.name)
//         }
//     });
// }
function initData(){
    
}
function openUserInfo(){
    if($('#userInfo').parent().is(':hidden')){
        $('#userInfo').parent().parent().click();
    }
    $('#userInfo').click();
}
</script>
    <div class="container">
        <div class="logo"><a href="./index.html" style="width: auto;">[[${session.loginUser}]]</a></div>
        <div class="left_open">
            <i title="展开左侧栏" class="iconfont">&#xe699;</i>
        </div>
        <ul class="layui-nav left fast-add" lay-filter="">
            <li class="layui-nav-item">
                <!-- <a href="javascript:;">+新增</a> -->
                <dl class="layui-nav-child"> <!-- 二级菜单 -->
                    <dd><a onclick="x_admin_show('资讯','url')"><i class="iconfont">&#xe6a2;</i>资讯</a></dd>
                    <dd><a onclick="x_admin_show('图片','url')"><i class="iconfont">&#xe6a8;</i>图片</a></dd>
                    <dd><a onclick="x_admin_show('用户 最大化','url','','',true)"><i class="iconfont">&#xe6b8;</i>用户最大化</a></dd>
                    <dd><a onclick="x_admin_add_to_tab('在tab打开','url',true)"><i class="iconfont">&#xe6b8;</i>在tab打开</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav right" lay-filter="">
            <li class="layui-nav-item" style="float: left;margin: 0 10px;">
                <a id="indexName" href="javascript:;"></a>
                
            </li>
            <li class="layui-nav-item to-index">
                <a href="./login.html"><i class="iconfont">&#xe6a4;</i>&nbsp;&nbsp;退出</a>
            </li>
        </ul>
    </div>
    <!-- 顶部结束 -->
    <!-- 中部开始 -->
    <!-- 左侧菜单开始 -->
    <div class="left-nav">
        <div id="side-nav">
            <ul id="nav">
                <li>
                    <a href="javascript:;">
                        <i class="iconfont">&#xe6b8;</i>
                        <cite>会员管理</cite>
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
                    <ul class="sub-menu">
                        <li id="userInfo">
                            <a href="./usermanagement.html" target="_blank">
                                <!-- <i class="iconfont">&#xe6a4;</i> -->
                                <cite>会员管理</cite>
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- [@scms_perm url="/awardSys/orders.jspx"] -->
                <li>
                    <a href="javascript:;">
                        <i class="iconfont">&#xe723;</i>
                        <cite>商家管理</cite>
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a th:href="@{/merchant}" target="_blank">
                                <!-- <i class="iconfont">&#xe6b9;</i> -->
                                <cite>商家管理</cite>
                            </a>
                        </li>
                    </ul>
                </li>
                 <!-- [/@scms_perm] -->
                  <!-- [@scms_perm url="/awardSys/financeInfo.jspx"] -->

            </ul>
        </div>
    </div>
    <!-- <div class="x-slide_left"></div> -->
    <!-- 左侧菜单结束 -->
    <!-- 右侧主体开始 -->
    <div class="page-content">
        <div class="layui-tab tab" lay-filter="xbs_tab" lay-allowclose="false">
            <ul class="layui-tab-title">
                <li class="home"><i class="layui-icon">&#xe68e;</i>我的桌面</li>
            </ul>
            <div class="layui-unselect layui-form-select layui-form-selected" id="tab_right">
                <dl>
                    <dd data-type="this">关闭当前</dd>
                    <dd data-type="other">关闭其它</dd>
                    <dd data-type="all">关闭全部</dd>
                </dl>
            </div>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <!-- [@scms_perm url="/awardSys/welcome.jspx"] -->
                    <iframe src="./usermanagement.html" frameborder="0" scrolling="yes" class="x-iframe" name="mainFrame"></iframe>
                    <!-- [/@scms_perm] -->
                </div>
            </div>
            <div id="tab_show"></div>
        </div>
    </div>
    <div class="page-content-bg"></div>
    <!-- 右侧主体结束 -->
    <!-- 中部结束 -->
    <!-- 底部开始 -->
    <div class="footer">
        <div class="copyright">Copyright ©2019 HZJIYU All Rights Reserved</div>
    </div>
</body>
</html>