<!DOCTYPE html>
<html class="x-admin-sm">
  
  <head>
    <meta charset="UTF-8">
    <title>修改积资源</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" href="../css/font.css">
    <link rel="stylesheet" href="../css/xadmin.css">
    <script type="text/javascript" src="../js/jquery-1.8.3.js"></script>
    <script type="text/javascript" src="../lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../js/xadmin.js"></script>
    <script type="text/javascript" src="../js/cookie.js"></script>
    <script type="text/javascript" src="../js/urlAdress.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="/${res}/award/js/html5.min.js"></script>
      <script src="/${res}/award/js/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
    .layui-form-pane .layui-form-label {width: 30%;}
    .layui-form-pane .layui-input-inline {width: 70%; margin-right: 0;}
    .layui-form-pane button.layui-btn {margin-top: 25px;padding: 0 25px;}
    .layui-form-scenic .layui-input-block {border: 1px solid #e6e6e6;padding: 10px 5px;}
    .layui-form-line .layui-input-block {border: 1px solid #e6e6e6;padding: 10px 15px;}
    .layui-input-block span.layui-badge {padding: 6px 10px;}
    .layui-input-block span i {}
    </style>
  </head>
  
  <body>
  <script type="text/javascript">
  var token=localStorage.getItem("ifClick");
  function GetQueryString(name){
      var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
      var r = window.location.search.substr(1).match(reg);
      if(r!=null)return  unescape(r[2]); return null;
  }
  var adId=GetQueryString('id');
  console.log(adId);
  $(function(){
      initData();
  })
  function initData(){
      data={
        id:adId
      }
      $.ajax({
                type:"POST",
                url: urlAdress+"/merchants/getMerchantById",
                headers: {
                    'Authorization':'bearer '+token
                    //'Authorization':'bearer 94211b05-c88c-44f9-b61a-dc1c57aeb9a9'
                },
                data: JSON.stringify(data),
                contentType: 'application/json',
                dataType: "json",
                // cache:false,
                success: function(result){
                    if(result.resp_code !== 0){
                        layer.msg(result.message);
                    }else{
                        console.log(result);
                        var info = result.datas;
                        $('#type').val(info.type);
                        $('#username').val(info.name);                                      
                    }
               },
            error:function(data) {
                console.log(data);
                if(data.resp_msg=='Invalid access token: d0ec8236-9614-4b06-9220-1454248f3936d'){
                    window.location.href='./pfIndex.html'
                }
            }
        });
  }
  </script>
  <div class="x-body">
      <form class="layui-form layui-form-pane" id="unitForm">
        <div class="layui-form-item">
          <label for="type" class="layui-form-label">
           <span class="x-red">*</span> 经营类型
          </label>
           <div class="layui-input-inline">
              <input type="text" id="type" name="type" required="" lay-verify="type" autocomplete="off" class="layui-input">
        </div>
        </div>
        <div class="layui-form-item">
          <label for="username" class="layui-form-label">
             <span class="x-red">*</span>商家登录账号
          </label>
           <div class="layui-input-inline">
            <input type="text" id="username" name="username" required="" lay-verify="username" autocomplete="off" class="layui-input">
          </div>
      </div>
      <div class="layui-form-item">
          <label for="password" class="layui-form-label">
             <span class="x-red">*</span>登录密码
          </label>
           <div class="layui-input-inline">
            <input type="password" id="password" name="password" required="" lay-verify="password" autocomplete="off" class="layui-input">
          </div>
      </div>
    
      <div class="layui-form-item" style="text-align: center;">
            <input type="hidden" name="id" value="">
            <button class="layui-btn" lay-filter="save" lay-submit="">修改</button>
        </div>
      	</form>
  
  <script>
    
      var token=localStorage.getItem("ifClick");
	  	console.log(urlAdress);
      layui.use(['form','layer','jquery'], function(){
          	$ = layui.jquery;
              var form = layui.form, layer = layui.layer;
        //    form.render();
      
        //自定义验证规则
        //form.verify({
          //licence: function(value){
            //  if ($.trim(value) === "") 
            //    return "经营许可证不能为空！";
         // }
       // });
       form.on('select()', function(data){
            console.log(data);
          });
         
        //监听提交
       form.on('submit(save)', function(data){
          console.log(dataId);
          var dataId=getFormData($("#unitForm"));
            dataId.id=adId;
            console.log(dataId);
          $.ajax({
            type: "POST",
            url: urlAdress+"/merchants/updates",
            headers: {
                'Authorization':'bearer '+token
                //'Authorization':'bearer 94211b05-c88c-44f9-b61a-dc1c57aeb9a9'
            }, 
            data: JSON.stringify(dataId),
            contentType: 'application/json',
            dataType: "json",
            success: function(result){
              console.log(result);
                if(result.resp_code !== 0){
                    layer.msg(resp_msg.message);
                }else{
                  layer.alert("修改成功", {icon: 6},function () {
                  
                      // 获得frame索引
                      var index = parent.layer.getFrameIndex(window.name);
                      //关闭当前frame
                      parent.layer.close(index);
                      //修改成功后刷新父界面
                      window.parent.location.reload();
                  });
                }
            },
		        	error:function(data) {
                console.log(data);
                           if(data.resp_msg=='Invalid access token:'){
                            window.location.href='../pfIndex.html'
                                    }
                                  }
                              });        	
          return false;
        });
      });

      // 获取表单数据
      function getFormData($form) {
          var unindexed_array = $form.serializeArray();
          var indexed_array = {};

          $.map(unindexed_array, function (n, i) {
            indexed_array[n['name']] = n['value'];
          });
          return indexed_array;
      }
  </script>
  </body>

</html>